 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-justify left5 right5">
                <p>I am a Software Developer with a strong sense of design. My goal is to use technologies to design and develop applications that are useful, beautiful and easy to maintain.</p>
                <br/>

                <p>During my 7-year adventure with android development, I had the opportunity to work with many tools. I like solutions that are simple yet powerful. My favourite toolbox nowadays is Kotlin, Databinding, JetPackCompose, Architecture components(LiveData, ViewModel, Room, WorkManager etc.), Coroutines, Dependency injection, Espresso, and Mockito.</p>
                <br/>
              
                <p>My professional and personal life are guided by the principle "Keep it simple".</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/open?id=1vNOzG6dkNSdkMDdoW1DhoHA3Bz3jKiYm" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Get Resume
                    </a>
                </div>
            </div>
        </div>
    </section>