 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                   <p>Hi, I'm Azam Khan, a mobile application developer, living in New Delhi, India. Currently I spend my days working as Android Developer with <a href="http://in.instantsys.com">Instant Systems Inc.</a> working on <a href="https://smarttagit.com/">SmartTagIt App</a> , <a href="https://play.google.com/store/apps/details?id=com.goldCleats.GoldCleatsPro">GoldCleats Pro</a>  and <a href ="https://play.google.com/store/apps/details?id=com.ccpl.ceekr">Ceekr</a>. Previously I have worked with <a href="https://clovedental.in/"/>Clove Dental</a> as Android developer, where I managed the development of full lifecycle of <a href="https://play.google.com/store/apps/details?id=com.clove.clover">myClove</a> and  Android application from the scratch.</p>
                <br/>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/open?id=1mk9i4cDxLUGgGunbpdm9BvikflWFQpH-" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Get Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
